body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logo .link {
  font-family: 'Raleway';
  font-weight: '700';
  font-size: '18px';
  line-height: '1.16';
  letter-spacing: '0.03em';
  text-transform: uppercase;
  color: #4d5ae5;
}
span {
  color: #2e2f42;
}
.head-nav .link,
.head-nav .link-studio {
  font-weight: '500';
  font-size: '16px';
  line-height: '1.5';
  letter-spacing: '0.02em';
  color: #2e2f42;
}
.head-nav .link:hover,
.head-nav .link-studio:hover {
  color: #404bbf;
}
.head-nav .link-studio:active {
  color: #404bbf;
}

.social-links .link {
  font-weight: '400';
  font-size: '16px';
  line-height: '1.5';
  letter-spacing: '0.02em';
  color: #434455;
}
.social-links .link:hover {
  color: #404bbf;
}
.hero {
  background-color: #2e2f42;
}
.text-title {
  font-weight: '700';
  font-size: '56px';
  line-height: '1.07';
  letter-spacing: '0.02em';
  color: #ffffff;
}
.button {
  font-family: 'Roboto', 'sans-serif';
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: '500';
  font-size: '16px';
  line-height: '1.5';
  letter-spacing: '0.04em';
}
.button .link:hover {
  background-color: #404bbf;
}
.button .link:focus{
  background-color: #404bbf;
}
.feture-text {
  color: #2e2f42;
  font-weight: '500';
  font-size: '20px';
  line-height: '1.2';
  letter-spacing: '0.02em';
}
.text {
  color: #434455;
  font-size: '16px';
  line-height: '1.5';
  letter-spacing: '0.02em';
}"
.team-title {
  color: #2e2f42;
  font-size: '36px';
  line-height: '1.1';
  letter-spacing: '0.02em';
}name-text{
  font-weight: "500";
  font-size: "20px";
  line-height: "1.2";
  letter-spacing: "0.02em";

}
.
